@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url("/b2b/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("/b2b/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("/b2b/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 800;
  src: url("/b2b/fonts/Lato/Lato-Black.ttf");
}
