.listBannerContainer {
    margin-top: 10px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: #606FC7;
    box-shadow: 0 4px 4px 0 rgba(0, 6, 57, 0.12);
    padding: 15px 15px;
}

.listBannerContainerFirstText {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.listBannerContainerSecText {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 100px;
}

.listBannerContainerBearImgContainer {
    position: absolute;
    right: 15px;
    top: -44px;
    width: 70px;
}

.listBannerContainerBearImgContainer img {
    max-width: 100%;
}

.ctaButton {
    position: relative;
    border-radius: 6px;
    background: linear-gradient(90deg, #FE77B4 0%, #7373E5 100%);
    height: 45px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.3;
    text-align: center;

}
