.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 18px;
    max-width: 800px;
    background: #ffffff;
    border-radius: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.headerContainer {
    text-align: center;
    width: 100%;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    position: relative;
    /* float: left; */
    margin-left: -100px;
    display: inline-block;
}

.logo {
    display: inline-block;

    width: 100px;
    position: absolute;
}

.content {
    width: 100%;
    font-style: normal;

    font-size: 21px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;


    margin: 0;
}

.content span{
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
}

.btnRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    text-align: center;
}


.buttons {
    background: #6E46AE;
    color: #ffffff;
    width: 185px;
    height: 40px;
    border-radius: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.imgContainer{

}

.registerLink {
    color: #B3B4C3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    line-break: 2;
    text-decoration-line: underline;
    margin-top: 10px;
}

@media (max-width: 365px) {
    .buttons {
        width: 170px !important;
    }
}